.modal-content {
  background-color: white;
}

.mybtn{
  background: rgb(224,149,70);
  background: linear-gradient(0deg, rgba(224,149,70,1) 34%, rgba(253,187,45,1) 77%);
  border-radius: 20px;
  font-size:16px ;
  font-weight: bold;
  padding: 10px;
  display: block !important;
}
.mybtn:hover{
  background-color: #9faa09;
}
.mybtn:active{
  background-color: #ff901c;
  transform: scale(1.1);
}
.btn:focus{
  border: none !important;
}
.close-znak{
  background-color: red;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

li, h3 {
  color: #000000;
  font: 15pt icon; 
  text-shadow: 0 0 5px #141413;
}

.image {
  width: 200px;
}

.fields-list {
  margin-bottom: 0;
  list-style: none;
}
.close-znak:focus {
  outline: none;
  border: none;
}
