<div id="accordion" *ngIf="array && !loader">
  <div class="card" *ngFor="let model of array">

    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-secondary collapsed w-100" data-toggle="collapse"
                [attr.data-target]="'#id' + model['_id']" aria-expanded="false">

          <div [ngSwitch]="choice.getValue()" class="text-left">
            <ng-template ngSwitchCase="users">
              {{model['login']}}&nbsp;<{{model['email']}}>
            </ng-template>
            <ng-template ngSwitchCase="items">
              {{model['name']}}&nbsp;<{{model['category']['name']}}>
            </ng-template>
          </div>

        </button>
      </h5>
    </div>

    <div [id]="'id' + model['_id']" class="collapse" data-parent="#accordion">
      <div class="card-body">

        <div [ngSwitch]="choice.getValue()">
          <ng-template ngSwitchCase="users">
            <app-user-form [user]="model" (onDelete)="onDelete($event)"></app-user-form>
          </ng-template>
          <ng-template ngSwitchCase="items">
            <app-item-form [item]="model" (onDelete)="onDelete($event)" [categories]="shortCategories"></app-item-form>
          </ng-template>
        </div>

      </div>
    </div>

  </div>
</div>
