.imageUrl {
  width: 48px;
  position: relative;
  box-shadow: 3px 3px 8px -1px #A5A29D;
}

.myItem {
  background-color: #70675F;
  color: #FFFFFF;
  border-radius: 2px;
  height: 64px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 0 10px;
}

.myItem p {
  margin: 0;
}

.myItem:hover {
  background-color: #C99966;
}

.myItem:active {
  transform: scale(1.1);
}

ul {
  list-style: none;
}

.openPopup:focus {
  outline: none;
}

.card {
  background-image: url(../../../assets/images/card/background-image.jpg);
  border-radius: 15px;
  padding: 5px;
  margin: 5px;

  
}

input {
  background-color: #70675F;
  color: #FFFFFF;
}

.collapse {
  font-size: 15pt;
  font: 15pt icon; 
}

.background {
  background: rgb(253,187,45);
  background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(191,166,140,1) 100%);
  color: black;
  text-shadow: 2px 2px 5px #5a3003;
  font-size: 15pt;
  font: 15pt icon; 
}