<div class="container" *ngIf="array">
  <ul>
    <li *ngFor="let item of selector()">
      <div data-toggle="collapse" [attr.data-target]="'#id' + item['_id']" aria-expanded="true">
        <div class="myItem">
          <p>{{item['preview']}}</p>
        </div>
        <div [id]="'id' + item['_id']" class="collapse hide">
          <div class="card">
            <div class="card-body">
              <div *ngFor="let field of item['fields']|keyvalue">
                <div *ngIf="field['key'] !== 'items'">
                  <label>{{field['key']}}</label>
                  <input [value]="field['value']" type="text" class="form-control">
                </div>
                <!-- ***** -->
                <div *ngIf="field['key'] === 'items'">
                  <h3>{{field['key']}}</h3>
                  <ul>
                    <li *ngFor="let item of field['value']">

                      <!-- order list here -->

                    </li>
                  </ul>
                </div>
                <!-- ***** -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
