<form [formGroup]="form" *ngIf="category" class="bg-light p-3 rounded" novalidate>

  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" type="text" class="form-control" formControlName="name">
    <div class="text-danger" *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
      <p>invalid name</p>
    </div>
  </div>

  <div class="form-group">
    <label for="imageUrl">Image url</label>
    <input id="imageUrl" type="text" class="form-control" formControlName="imageUrl">
    <div class="text-danger" *ngIf="form.controls['imageUrl'].invalid && form.controls['imageUrl'].touched">
      <p>invalid imageUrl</p>
    </div>
  </div>

  <div class="form-group d-flex justify-content-end">
    <button class="btn btn-warning" (click)="update()" [disabled]="form.invalid">update</button>
    <button class="btn btn-danger" (click)="delete()">delete</button>
  </div>

</form>
