.form-group .form-control {
  border-radius: 20px !important;
  padding: 20px !important;
  background: rgb(253,187,45);
  background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(191,166,140,1) 100%);
  color: #000000;
  text-shadow: 2px 2px 5px #5a3003;
  font: 15pt icon;
  font-weight: 600;
  border: solid #A5A29D 3px;
}

.form-group .form-control::placeholder {
  color: #000000;
  text-shadow: 2px 2px 5px #5a3003;
  font-size: 15pt;
  font: 15pt icon;
  font-weight: 600;
}

.form-group .submit {
  border-radius: 20px !important;
  background: rgb(253,187,45);
  background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(191,166,140,1) 100%);
  color: #000000;
  text-shadow: 2px 2px 5px #5a3003;
  font-size: 15pt;
  font: 15pt icon;
  border: none !important;
  font-weight: 600;
  padding: 10px 20px;
}

.title {
  color: #FFB362;
  text-shadow: 2px 2px 5px #5a3003;
  font-size: 15pt;
  font: 15pt icon;
  font-weight: 600;
}

input.ng-touched.ng-invalid {
  border: solid red 3px !important;
}

input.ng-touched.ng-valid {
  border: solid green 3px !important;
}


.order-container{
  height: 100vh;
  width: 100%;
}

.background {
  width: 70%;
  padding: 15px;
  background-image: url(../../../assets/images/card/background-image.jpg);
  border-radius: 30px;
}

.text-coment {
  color: #000000 !important;
  text-shadow: 2px 2px 5px #5a3003;
  font-size: 15pt;
  font: 15pt icon;
}

.radio {
  color: #FFB362;
  text-shadow: 2px 2px 5px #5a3003;
  font-size: 15pt;
  font: 15pt icon;
}
