
<footer class="container-fluid pl-0">
  <div class="container ">
    <div class="row text-center ">

      <div class=" col-md-4 col-sm-12 d-flex justify-content-center pt-3 m-auto">
        <ul class="p-1 visaMaster">
          <li><a href="https://uk-ua.facebook.com/"><img src="assets/images/footer/visa.png" alt="visa" class="imgVisaMaster"></a></li>
          <li><a href="https://www.instagram.com/?hl=uk"><img src="assets/images/footer/mastercard.png" alt="mastercard" class="imgVisaMaster"></a></li>
        </ul>
      </div>



      <div class="col-md-4 col-sm-12 d-flex justify-content-center pt-4 p-2 pl-0 ml-0">
        <ul class="pl-0">
          <li><p class="telephoneNumber">first number: 380 1234567891</p></li>
          <li><p class="telephoneNumber">first number: 380 1234567891</p></li>
          <li><p class="telephoneNumber">first number: 380 1234567891</p></li>
          <li><p class="adress">adress@gmail.ears</p></li>
        </ul>
      </div>


      <div class=" col-md-4 col-sm-12 d-flex justify-content-center m-auto">
        <ul class="p-2 social">
          <li><a href="https://uk-ua.facebook.com/"><img src="assets/images/footer/facebook.svg" alt="facebook"></a></li>
          <li><a href="https://www.instagram.com/?hl=uk"><img src="assets/images/footer/instagram.svg" alt="instagram"></a></li>
          <li><a href="https://www.youtube.com/?hl=uk&gl=UA"><img src="assets/images/footer/youtube.svg" alt="youtube"></a></li>
        </ul>
      </div>

    </div>

  </div>




</footer>
