.container-fluid {
  background-color: #1F1A14;
}

img {
  width: 25px;
  margin: 0 5px;
}

.visaMaster {
  background-color: #FFB362;
  border-radius: 15px;
  list-style: none;
  display: flex;
}

.left {
  margin-left: 0;
}

.imgVisaMaster {
  width: 70px;
  margin: 3px;
}


p {
  color: #FFB362;
}


.social {
  background-color: #FFB362;
  border-radius: 15px;
  list-style: none;
  display: flex;
}

img {
  width: 50px;
  margin: 5px;
}



