
<!-- <footer  class="col-md-px-5" >
    <div class="left">

    </div>



</footer> -->

<footer>
  <div class="container">
    <div class="row">

      <div class="col">
        <p class="telephoneNumber">first number: 380 1234567891</p>
        <p class="telephoneNumber">first number: 380 1234567892</p>
        <p class="telephoneNumber">first number: 380 1234567893</p>
        <p class="adress">adress@gmail.ears</p>
      </div>

      <div class="col my-auto">
        <div class="right">
          <ul>
            <li><a href="https://uk-ua.facebook.com/"><img src="assets/images/footer/facebook.svg" alt="facebook"></a></li>
            <li><a href="https://www.instagram.com/?hl=uk"><img src="assets/images/footer/instagram.svg" alt="instagram"></a></li>
            <li><a href="https://www.youtube.com/?hl=uk&gl=UA"><img src="assets/images/footer/youtube.svg" alt="youtube"></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>

