.container-fluid{
  background-color: #FF901C;
  border-radius: 10px;
}
.btn{
  background-color: #C99966;
  border-radius: 20px;
  box-shadow:none;
}
.btn:hover{
  background-color: #C99966;
}
.btn:active{
  transform: scale(1.1);
}
.btn-update{
  background: rgb(253,187,45);
  background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(191,166,140,1) 100%);
  text-shadow: 2px 2px 5px #7c4f1f;
  font-size: 15pt;
  font: 15pt icon; 
}
.text-update{
  color: #E3A058;
  text-shadow: 2px 2px 5px #000000;
  font-size: 15pt;
  font: 15pt icon;
  text-transform: uppercase; 
}

.background {
  background-image: url(../../../assets/images/card/background-image.jpg);
}