.header {
  width: 100%;
  background-color: #1F1A14;
  display: flex;
}
.logo {
  width: 100px;
}
li {
  text-align: center;
  width: 100px;
  background-color: #FFB362;
}
.cart {
  background-color: #FFB362;
}
.avatar {
  background-color: #FFFFFF;
}
.cart-img {
  width: 50px;
}
.avatar-img {
  width: 50px;
}
a {
  text-decoration: none;
  color: black;
}