<header class="header navbar navbar-expand-lg navbar-dark primary-color">

  <div class="navbar navbar-expand-lg navbar-light pl-0">

    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse pl-1" id="navbarSupportedContent">
      <div class="logo  ml-3">
        <a routerLink="">
          <img src="assets/images/header/logo.svg" alt="logo">
        </a>
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item rounded my-2 mx-3 py-1 px-3 d-inline d-flex align-items-center justify-content-center" routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="" class="nav-item-link ">
            Головна
          </a>
        </li>
        <li class="nav-item rounded my-2 mx-3 py-1 px-3 d-inline d-flex align-items-center justify-content-center" routerLinkActive="active">
          <a routerLink="/contacts" class="nav-item-link">
            Контакти
          </a>
        </li>
        <li class="nav-item rounded my-2 mx-3 py-1 px-3 d-inline d-flex align-items-center justify-content-center" routerLinkActive="active">
          <a routerLink="/about" class="nav-item-link">
            Про нас
          </a>
        </li>
        <li class="nav-item rounded my-2 mx-3 py-1 px-3 d-inline d-flex align-items-center justify-content-center" routerLinkActive="active">
          <a routerLink="/about" class="nav-item-link">
            Корзина
          </a>
        </li>
        <li class="nav-item rounded my-2 mx-3 py-1 px-3 d-inline d-flex align-items-center justify-content-center" routerLinkActive="active">
          <a routerLink="/profile" class="avatar-link">
            Профіль
          </a>
        </li>
      </ul>
    </div>
  </div>


</header>
