.background {
  background-image: url(../../../assets/images/card/background-image.jpg);
}

h5 {
  color: #E3A058;
  text-shadow: 2px 2px 5px #000000;
  font-size: 15pt;
  font: 15pt icon; 
}

h3 {
  text-shadow: 2px 2px 5px #5a3003;
  font-size: 15pt;
  font: 15pt icon; 
}

.test {
  background: rgb(253,187,45);
  background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(191,166,140,1) 100%);
  padding: 10px;
  text-shadow: 2px 2px 5px #5a3003;
  font-size: 15pt;
  font: 15pt icon; 
}
.bacground {
  background-color: #70675F;
  padding-bottom: 10px;
  border-radius: 20px;
}
.sum {
  margin: auto;
  width: 80%;
  background: rgb(253,187,45);
  background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(191,166,140,1) 100%);
  text-shadow: 2px 2px 5px #5a3003;
  font-size: 15pt;
  font: 15pt icon; 
}

.items {
  background-color: #E09546;
}
td {
  margin-left: 5px;
}

.onItem {
  margin-left: 20px;
}
ul {
  list-style: none;
}
