<div class="conteiner">
    <div class="row py-2">
        <div class="col">
            <app-map></app-map>
        </div>
    </div>

    <div class="row py-2 ">
        <div class="col-12 col-md-4 col-xl-4">
            <app-card txtCard="Оператор" imgPath="../../../assets/images/card/operator.svg"></app-card>
        </div>
        <div class="col-12 col-md-4 col-xl-4">
            <app-card txtCard="Кур'єр" imgPath="../../../assets/images/card/courier.svg"></app-card>
        </div>
        <div class="col-12 col-md-4 col-xl-4">
            <app-card txtCard="Адміністратор" imgPath="../../../assets/images/card/admin_server.png"></app-card>
        </div>
    </div>

    <div class="row py-2">
        <div class="col">
            <app-info></app-info>
        </div>
    </div>
</div>