<div class="container">
  <div class="row py-2">
    <div class="col">
      <app-map></app-map>
    </div>
  </div>

  <div class="row p-4 cardes">
    <div class="col-12 col-md-4 col-xl-4">
      <app-card txtCard="Оператор" 
      imgPath="../../../assets/images/card/operator-icon.svg"
      txtPhone="+380 000 000 00 00"></app-card>
    </div>
    <div class="col-12 col-md-4 col-xl-4">
      <app-card txtCard="Кур'єр" 
      imgPath="../../../assets/images/card/courier-icon.svg"
      txtPhone="+380 000 000 00 00"></app-card>
    </div>
    <div class="col-12 col-md-4 col-xl-4">
      <app-card txtCard="Адмін" 
      imgPath="../../../assets/images/card/admin-icon.svg"
      txtPhone="+380 000 000 00 00"></app-card>
    </div>
  </div>

  <div class="row py-2 background">

    <div class="col text-center">
      <b>Блюдо дня</b>
      <app-info></app-info>
    </div>
  </div>
</div>
