<div class="conteiner">
    <div class="row py-2">
        <div class="col">
            <app-map></app-map>
        </div>
    </div>

    <div class="row py-2 ">
        <div class="col-12 col-md-4 col-xl-4">
            <app-card></app-card>
        </div>
        <div class="col-12 col-md-4 col-xl-4">
            <app-card></app-card>
        </div>
        <div class="col-12 col-md-4 col-xl-4">
            <app-card></app-card>
        </div>
    </div>

    <div class="row py-2">
        <div class="col">
            <app-info></app-info>
        </div>
    </div>
</div>