.carousel-item
{
  position: relative;
  padding-bottom: 40%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.carousel-item img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.border {
  border: none !important;
  background-image: url(../../../assets/images/card/background-image.jpg);
  border-radius: 10px;
}

img {
  border-radius: 30px;
}
