li{
  background: rgb(253,187,45);
  background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(191,166,140,1) 100%);
}
li:active {
  background: rgb(253,187,45);
  background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(191,166,140,1) 100%);
  transform: scale(1.1);
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}
img {
  width: 20px;
}
