<div class="navbar navbar-expand-lg navbar-light bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" 
  data-target="#categoryListToggle" aria-controls="categoryListToggle" 
  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="categoryListToggle">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let category of categories"
          class="category-item nav-item  rounded my-2 mx-3 py-1 px-3 d-inline d-flex align-items-center"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
      >
        <a routerLink="/categories/{{category.id}}"
           class="category-item-link d-inline"
        >
          <img src="assets/images/category-list/{{category.icon}}"
               [alt]="category.label"
               class="food-icon "
          >
          {{category.label}}
        </a>
      </li>
    </ul>
  </div>
</div>