.root{
  border-radius: 50px ;
}

ul{
  background: rgb(253,187,45);
  background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(191,166,140,1) 100%);
  padding: 10px;
  border-radius: 20px ;
}
li{
  list-style: none;
  display: flex;
  justify-content:space-around;
}
li div button{
  list-style: none;
  display: flex;
  justify-content: right;

}
li p{
  /*list-style: none;*/
  /*display: flex;*/
  /*justify-content: left ;*/
}
.elem{
  background: rgb(236, 233, 233);
  border-radius: 15px;
  margin: 2px 10px;
  box-shadow: 0 3px 20px rgb(90, 42, 4);
}
.elem>span>*{
  display:inline-block;
  margin: auto 15px;
}
span{
  display: flex;
}
p{
  margin: 10px;
  text-shadow: 2px 2px 5px #5a3003;

  font: 15pt icon;
}

.img {
  width: 80px;
}
.boxclose{
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
  color: #fff;
  border: none;
  background: red;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 10px 10px;
  border-radius: 30%;
  box-shadow: 2px 2px 5px #5a3003;

}
.boxclose:before{
  content:"x";
}

.boxclose:hover{
  opacity: 0.5;
}
.boxclose:active{
  transform: scale(1.1);
}
.boxclose:focus{
  outline: 0;
}
