<div class=" container">

  <div class="row">
    <div class="col">
      <app-info></app-info>
    </div>
  </div>

  <div class="row my-3 p-4 cardes">

    <div class="col-xl-3 col-md-6 col-sm-12">
      <app-card txtCard="Якісні продукти" imgPath='../../../assets/images/card/pege-1.jpg'></app-card>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <app-card txtCard="Комфортна атмосфера" imgPath='../../../assets/images/card/pege-2.jpg'></app-card>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <app-card txtCard="Вечір п'ятниці" imgPath='../../../assets/images/card/pege-3.jpg'></app-card>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <app-card txtCard="Швидка доставка" imgPath='../../../assets/images/card/pege-4.jpg'></app-card>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <app-feedback-list></app-feedback-list>
    </div>
  </div>

</div>
