<div class=" container">

  <div class="row px-3">
    <div class="col">
      <app-info></app-info>
    </div>
  </div>

  <div class="row my-3">

    <div class="col-xl-3 col-md-6 col-sm-12" >
      <app-card txtCard="власний ставочок" imgPath = '../../../assets/images/card/власний ставочок.svg'></app-card>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <app-card txtCard="готуємо старанно" imgPath = '../../../assets/images/card/готуємо старанно.svg'></app-card>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <app-card txtCard="живете в альтанці" imgPath = '../../../assets/images/card/альтанка.svg'></app-card>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <app-card txtCard="готуємо на дровах" imgPath = '../../../assets/images/card/готуємо на дровах.svg'></app-card>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <app-feedback-list></app-feedback-list>
    </div>
  </div>

</div>
