.card {
  background-color: #FF901C;
  border-radius: 10px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.card-title {
  text-align: center;
  font-size: 14px;
}

.card:hover {
  background-color: #C99966;
}

.card:active {
  transform: scale(1.1);
}

.color-active {
  background-color: #C99966;
}
