<div class="login">

  <h2 class="text-center my-3 title">Вхід</h2>

  <form class="register-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="email" name="email" placeholder="електронна пошта" formControlName="email"
             class="form-control"
      >
    </div>
    <div class="form-group">
      <input type="password" name="password" placeholder="пароль" formControlName="password"
             class="form-control"
      >
    </div>
    <div class="form-group text-center">
      <button
        type="submit"
        class="btn btn-primary submit"
        [disabled]="form.invalid || form.disabled"
      >
        Вхід
      </button>
    </div>
  </form>

  <div class="text-center">
    <a routerLink="/register" class="register-link">
      <h3>Реєстрація ?</h3>
    </a>
  </div>

</div>
