.form-group .form-control {
  border-radius: 20px !important;
  padding: 20px !important;
  background-color: #70675F;
  color: #F6AF62;
  font-weight: 600;
  border: solid #70675F 3px;
}

.form-group .form-control::placeholder {
  color: #F6AF62;
  font-weight: 600;
}

.form-group .submit {
  border-radius: 20px !important;
  background-color: #70675F;
  color: #F6AF62;
  border: none !important;
  font-weight: 600;
  padding: 10px 20px;
}

.title {
  color: #70675F;
  font-weight: 600;
}

input.ng-touched.ng-invalid {
  border: solid red 3px !important;
}

input.ng-touched.ng-valid {
  border: solid green 3px !important;
}

.register-link {
  text-decoration: none;
  color: #70675F;
}
.register-link h3 {
  font-weight: 600;
}
.register-link:hover {
  text-decoration: none;
}
